body{
    background-image: url("DSC00897.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    margin:0 auto;
    text-align: center;

}


.do{
    margin-top:50%;
}
.do1{
    width:50%;
    height: 23px;
    color:white;
    background-color: rgb(106, 104, 116);
}
.subre{
    color:black;
    background-color: chocolate;
}